<% div_for(chat, :class => "post") do %>
  <%= permalink_for(chat) %>
  <%= manage_links_for(chat) %>
  <h3 class="title"><%= chat.title %></h3>
  
  <div class="body">
    <%= format_chat(chat.body) %>
  </div>
<% end %>
