<% div_for(link, :class => "post") do %>
  <%= permalink_for(link) %>
  <h3 class="title">
    <%= link.title.blank? ? link_to(link.url, link.url) : link_to(link.title, link.url) %>
  </h3>
  
  <% unless link.description.blank? %>
    <div class="body">
      <%= link.description %>
    </div>
  <% end %>
<% end %>
